<div class="c-card">        
    <img class="c-card__background h-image-background js-lazy-image" 
         srcset="{{img}} 282w, {{img}} 300w, {{img}} 1280w"    
         data-src="{{img}}" 
         alt="{{alt}}">            

    <div class="c-card__background h-shadow-background"></div>

    <div class="c-card__section-main">
        <div class="c-section-main">
            <div class="c-section-main__up c-title">{{title-up}}</div>        
            <div class="c-section-main__down c-title c-title--big">{{title-down}}</div>
        </div>
    </div>        

    <div class="c-card__message c-card__message--main c-message">{{text}}</div>                                     
    <div class="c-card__button">{{render "@button-white"}}</div>                                         
</div>
    
