<div class="c-card-grid">

    <div class="c-card-grid__item">                                
        {{render "@card" card-one}}
    </div>
    
    <div class="c-card-grid__item">        
        {{render "@card" card-two}}
    </div>        

    <div class="c-card-grid__item">        
        {{render "@card" card-three}}
    </div>        

    <div class="c-card-grid__item">        
        {{render "@card" card-for}}
    </div>                    

    <div class="c-card-grid__item">        
        {{render "@card" card-five}}
    </div>                    

    <div class="c-card-grid__item">        
        {{render "@card" card-six}}
    </div>                    

    <div class="c-card-grid__item">        
        {{render "@card" card-sevem}}
    </div>                                

</div>