<div class="c-card-grid">

    <div class="c-card-grid__item">                                
        <div class="c-card c-card--bigger">        
            {{render "@card-content" card-one}}
        </div>
    </div>
    
    <div class="c-card-grid__item">        
        <div class="c-card c-card--middle">        
            {{render "@card-content" card-two}}
        </div>        
    </div>        

    <div class="c-card-grid__item">        
        <div class="c-card c-card--sm">        
            {{render "@card-content" card-three}}
        </div>                
    </div>        

    <div class="c-card-grid__item">        
        <div class="c-card c-card--sm">        
            {{render "@card-content" card-for}}
        </div>                
    </div>                    

    <div class="c-card-grid__item">        
        <div class="c-card c-card--sm">        
            {{render "@card-content" card-five}}
        </div>                
    </div>                    

    <div class="c-card-grid__item">        
        <div class="c-card c-card--sm">        
            {{render "@card-content" card-six}}
        </div>                
    </div>                    

    <div class="c-card-grid__item">        
        <div class="c-card c-card--middle">        
            {{render "@card-content" card-sevem}}
        </div>                
    </div>                                

</div>