<img class="c-card__background c-image-background js-lazy-image" 
    srcset="{{img-sm}} 282w, {{img-sm}} 300w, {{img-low}} 900w"    
    data-src="{{img}}" alt="{{alt}}">            
<div class="c-card__background c-shadow-background"></div>
