{{#each cards}}
<div class="c-card">
    
    <img id="image" class="c-card__img c-image-background" src="{{img}}" alt="{{alt}}">            
    <div class="c-card__shadow c-shadow-background"></div>         

    <div class="c-card__title-one c-title">{{title}}</div>        
    <div class="c-card__title-two c-title c-title_big">{{title-big}}</div>                        
    
    <div class="c-card__button">{{render "@button"}}</div>                                        
</div>
{{/each}}