<div class="c-card c-card--middle">
    <img class="c-card__img c-image-background" src="{{italy.img}}" alt="{{italy.alt}}">            
    <div class="c-card__shadow c-shadow-background"></div>         
    
    <div class="c-card__title-one c-title">{{italy.title}}</div>        
    <div class="c-card__title-two c-title c-title_big">{{italy.title-big}}</div> 

    <div class="c-card__message c-message">{{italy.text}}</div>
    <div class="c-card__button">{{render "@button"}}</div>
</div>