    <img class="c-card__background c-image-background js-lazy-image" 
        srcset="{{img-sm}} 282w, {{img-sm}} 300w, {{img-low}} 900w"    
        data-src="{{img}}" alt="{{alt}}">            
    <div class="c-card__background c-shadow-background"></div>

    <div class="c-card__section-main">
        {{render "@section-main" section-main}}
    </div>        

    <div class="c-card__message c-card__message--main c-message">{{text}}</div>                                     
    <div class="c-card__button">{{render "@button"}}</div>                                         