<div class="c-card-grid">

    <div class="c-card-grid__card-one">                               
        {{render "@card--bigger" card-one}}
    </div>
    
    <div class="c-card-grid__card-two c-card c-card--middle">        
        {{render "@card--middle" card-two}}
    </div>        

    <div class="c-card-grid__card-three">        
        {{render "@card--small" card-three}}
    </div>        

    <div class="c-card-grid__card-for c-card c-card--sm">        
        {{render "@card--small" card-for}}
    </div>                    

    <div class="c-card-grid__card-five">        
        {{render "@card--small" card-five}}
    </div>                    

    <div class="c-card-grid__card-six">        
        {{render "@card--small" card-six}}
    </div>                    

    <div class="c-card-grid__card-seven">        
        {{render "@card--middle" card-seven}}
    </div>                                

</div>